@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root {
    --color-primary: #73BA64;
    --color-secondary: #F4D771;
    --color-green: #399A1E;
    --color-white: #fff;
    --color-ofWhite: #f9f9f9;
    --color-black: #000;
    --color-black-1: #465669;
    --color-lightblue: #1BD3FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* Menu bar Css */

.sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-ofWhite);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.nav_logo {
    width: 110px;
    cursor: pointer;
}

.home_profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.home_profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.home_profile span {
    font-size: 13px;
    font-weight: 500;
}

.home_navbar {
    display: flex;
    column-gap: 0.5rem;
    position: relative;
}

.home_navbar a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-black);
    padding: 0.5rem;
}

.home_navbar a:hover,
.single_herb_active {
    background: var(--color-primary);
    border-radius: 5rem;
    color: var(--color-white);
    transition: background 0.5s;
}

.menu_icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/* dropdown menu style */

.home_navbar ul {
    list-style: none;
    display: flex;
}

.home_navbar ul li {
    font-size: 20px;
    color: var(--color-black);
    text-decoration: none;
    transition: all 0.3s;
    padding: 10px 15px;
    position: relative;
}

/* dropdown menu style */
.dropdown-menu {
    display: none;
}

.home_navbar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-primary);
}

.home_navbar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.home_navbar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

/*Menu End */


/*Aayurvedic Home Css  */

.aayu_home {
    min-height: 100vh;
}

.single_herb_container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/Images3/Single-Herbal_imgs/Single-herb-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.single_herb_img1 img {
    width: 200px;
    position: absolute;
    bottom: -10px;
    margin-left: -1%;
}

.single_herb_img2 img {
    width: 650px;
    margin-top: 16%;
    margin-left: -12%;
}

.upper_img img {
    width: 200px;
    position: absolute;
    bottom: 430px;
    margin-left: 87%;
}

.single_herb_home_text {
    margin-left: 24%;
    margin-bottom: -75px;
}

.single_herb_home_text a {
    text-decoration: none;
}

.single_herb_home_text h1 {
    font-size: 40px;
    margin-left: -45%;
    margin-top: 0%;
    font-weight: 900;
}

.single_herb_home_text h2 {
    color: var(--color-green);
    font-size: 65px;
    font-weight: bold;
    margin-left: -5%;
    margin-top: 0%;
}

.single_herb_home_text h3 {
    margin-left: -45%;
    margin-top: 0%;
}

.single_herb_home_text i {
    font-size: 20px;
    color: var(--color-green);
}


.single_herb_home_text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0.8rem;
    margin-top: 2%;
    margin-left: -45%;
}

.btn1 {
    padding: 0.8rem 1.2rem;
    background: var(--color-primary);
    color: var(--color-black);
    font-weight: 500;
    margin-top: 14%;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 160px;
    margin-left: -46%;
}

.btn1 .bx {
    padding: 4px;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    font-size: 20px;
    margin: auto;
}

.btn1:hover {
    background: var(--color-secondary);
    transition: 0.1s ease;
}

/* End */


/*/////////////////////// Aayurvedic Table Formate /////////////////////////// */

/* -------- New Type Boxes 1 Blood Press Tabs CSS --------- */

.aloe_container {
    min-height: 100vh;
    background: var(--color-white);
}

.aloe_center {
    text-align: center;
    margin: 40px;
}

.aloe_center i {
    font-size: 50px;
    margin: 10px;
    color: var(--color-green);
}

.aloe_h2 {
    color: var(--color-green);
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;
}

.aloe_h5 {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.aloe_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.aloe-col {
    width: 100%;
    height: 1200px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.aloe_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.aloe-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.aloe_img1 img {
    height: 200px;
    margin-left: 20%;
}

.aloe_img2 img {
    height: 200px;
    margin-left: 30%;
}

.aloe_img3 img {
    height: 200px;
    margin-left: 16%;
}

.aloe_img4 img {
    height: 200px;
    margin-left: 13%;
}

.aloe-col2 h4 {
    font-size: 20px;
    margin-left: 15%;
}

.aloe-col2 p {
    font-size: 16px;
    text-align: center;
}

.aloe_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.aloe_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.aloe_txt1 h1 {
    /* font-size: 24px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.aloe_txt1 h1::after {
    content: '';
    width: 130px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -9.5%;
}

/* 2nd box */

.amla_containerBox3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.amla-box-col1 {
    width: 110%;
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.amla-box-col2 {
    width: 110%;
    padding: 30px;
    margin-left: 43%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.amla-box-col3 {
    width: 75%;
    padding: 30px;
    margin-left: 43%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.amla-box-col4 {
    width: 75%;
    padding: 30px;
    margin-left: 26%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.amla-responsive1 img {
    height: 200px;
    margin-left: 20%;
    margin-top: 15%;
}

.amla-responsive2 img {
    height: 200px;
    margin-left: 30%;
    margin-top: 15%;
}

.amla-responsive3 img {
    height: 200px;
    margin-left: 22%;
    margin-top: 4%;
}

.amla-responsive4 img {
    height: 200px;
    margin-left: 20%;
}

.amla-box-col1 h4 {
    font-size: 20px;
    margin-left: 17%;
}

.amla-box-col2 h4 {
    font-size: 20px;
    margin-left: 20%;
}

.amla-box-col3 h4 {
    font-size: 20px;
    /* margin-left: 24%; */
    text-align: center;
}

.amla-box-col4 h4 {
    font-size: 20px;
    margin-left: 20%;
}

.amla-box-col1 p {
    font-size: 16px;
    text-align: center;
}

.amla-box-col2 p {
    font-size: 16px;
    text-align: center;
}

.amla-box-col3 p {
    font-size: 16px;
    text-align: center;
}

.amla-box-col4 p {
    font-size: 16px;
    text-align: center;
}

.amla_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.amla_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.amla_txt1 h1 {
    /* font-size: 24px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.amla_txt1 h1::after {
    content: '';
    width: 80px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -5.8%;
}

/* End */



/* ///////////////////////// New Type Boxes 2 Ashwagandha //////////////////////// */

.ashwagandha_container2 {
    min-height: 100vh;
}

.ashwagandha_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

/* .side_leaf_img2 {
    align-items: flex-end;
    text-align: end;
}

.side_leaf_img2 img {
    height: 250px;
    margin-top: -5%;
    margin-left: -7%;
} */

.ashwagandha-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.ashwagandha_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.ashwagandha-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.ashwagandha_img1 img {
    height: 200px;
    margin-left: 20%;
}

.ashwagandha_img2 img {
    height: 200px;
    margin-left: 30%;
}

.ashwagandha_img3 img {
    height: 200px;
    margin-left: 18%;
}

.ashwagandha_img4 img {
    height: 200px;
    margin-left: 20%;
}

.ashwagandha-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.ashwagandha-col2 p {
    font-size: 16px;
    text-align: center;
}

.ashwagandha_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.ashwagandha_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.ashwagandha_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.ashwagandha_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -14.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 3 Aarjuna //////////////////////// */

.arjuna_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.arjuna_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.arjuna-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.arjuna_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.arjuna-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.arjuna_img1 img {
    height: 200px;
    margin-left: 20%;
}

.arjuna_img2 img {
    height: 200px;
    margin-left: 30%;
}

.arjuna_img3 img {
    height: 200px;
    margin-left: 18%;
}

.arjuna_img4 img {
    height: 200px;
    margin-left: 20%;
}

.arjuna-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.arjuna-col2 p {
    font-size: 16px;
    text-align: center;
}

.arjuna_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.arjuna_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.arjuna_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.arjuna_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */

/* ///////////////////////// New Type Boxes 4 Kidney And Liver //////////////////////// */

.brahmi_container2 {
    margin-top: -6%;
    min-height: 100vh;
}

.brahmi_containerBox {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
}

.brahmi-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: -3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.brahmi_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.brahmi-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.brahmi_img1 img {
    height: 200px;
    margin-left: 20%;
}

.brahmi_img2 img {
    height: 200px;
    margin-left: 30%;
}

.brahmi-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.brahmi-col2 p {
    font-size: 16px;
    text-align: center;
}

.brahmi_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.brahmi_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.brahmi_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.brahmi_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* 2 */

.garcinia-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: 3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.garcinia_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.garcinia-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.garcinia_img1 img {
    height: 200px;
    margin-left: 20%;
}

.garcinia_img2 img {
    height: 200px;
    margin-left: 30%;
}

.garcinia-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.garcinia-col2 p {
    font-size: 16px;
    text-align: center;
}

.garcinia_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.garcinia_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.garcinia_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.garcinia_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* End */


/* ///////////////////////// New Type Boxes 5 Haritaki //////////////////////// */

.haritaki_container2 {
    min-height: 100vh;
}

.haritaki_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.haritaki-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.haritaki_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.haritaki-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.haritaki_img1 img {
    height: 200px;
    margin-left: 20%;
}

.haritaki_img2 img {
    height: 200px;
    margin-left: 30%;
}

.haritaki-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.haritaki-col2 p {
    font-size: 16px;
    text-align: center;
}

.haritaki_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.haritaki_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.haritaki_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.haritaki_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -14.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 6 Jambu //////////////////////// */

.jambu_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.jambu_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.jambu-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.jambu_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.jambu-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.jambu_img1 img {
    height: 200px;
    margin-left: 20%;
}

.jambu_img2 img {
    height: 200px;
    margin-left: 30%;
}

.jambu_img3 img {
    height: 200px;
    margin-left: 18%;
}

.jambu-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.jambu-col2 p {
    font-size: 16px;
    text-align: center;
}

.jambu_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.jambu_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.jambu_txt h1 {
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.jambu_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 4 Karela and Methi //////////////////////// */

.karela_container2 {
    margin-top: -6%;
    min-height: 100vh;
}

.karela_containerBox {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
}

.karela-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: -3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.karela_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.karela-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.karela_img1 img {
    height: 200px;
    margin-left: 20%;
}

.karela_img2 img {
    height: 200px;
    margin-left: 30%;
}

.karela-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.karela-col2 p {
    font-size: 16px;
    text-align: center;
}

.karela_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.karela_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.karela_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.karela_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* 2 */

.methi-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: 3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.methi_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.methi-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.methi_img1 img {
    height: 200px;
    margin-left: 20%;
}

.methi_img2 img {
    height: 200px;
    margin-left: 30%;
}

.methi-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.methi-col2 p {
    font-size: 16px;
    text-align: center;
}

.methi_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.methi_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.methi_txt h1 {
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.methi_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* End */


/* ///////////////////////// New Type Boxes 8 Neem //////////////////////// */

.neem_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.neem_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.neem-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.neem_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.neem-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.neem_img1 img {
    height: 200px;
    margin-left: 20%;
}

.neem_img2 img {
    height: 200px;
    margin-left: 30%;
}

.neem_img3 img {
    height: 200px;
    margin-left: 18%;
}

.neem-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.neem-col2 p {
    font-size: 16px;
    text-align: center;
}

.neem_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.neem_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.neem_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.neem_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */

/* ///////////////////////// New Type Boxes 9 Senna //////////////////////// */

.seena_container2 {
    /* margin-top: 13%; */
    min-height: 100vh;
}

.seena_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.side_leaf_img2 {
    /* margin: -72px; */
    align-items: flex-end;
    text-align: end;
}

.side_leaf_img2 img {
    height: 250px;
    margin-top: -5%;
    margin-left: -7%;
}

.seena-col {
    width: 100%;
    height: 650px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.seena_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.seena-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.seena_img1 img {
    height: 200px;
    margin-left: 20%;
}

.seena_img2 img {
    height: 200px;
    margin-left: 30%;
}

.seena_img3 img {
    height: 200px;
    margin-left: 18%;
}

.seena_img4 img {
    height: 200px;
    margin-left: 20%;
}

.seena-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.seena-col2 p {
    font-size: 16px;
    text-align: center;
}

.seena_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.seena_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.seena_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.seena_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -14.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 10 Shankhpushpi //////////////////////// */

.shankhpushpi_container2 {
    min-height: 100vh;
}

.shankhpushpi_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.shankhpushpi-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.shankhpushpi_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.shankhpushpi-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.shankhpushpi_img1 img {
    height: 200px;
    margin-left: 20%;
}

.shankhpushpi_img2 img {
    height: 200px;
    margin-left: 30%;
}

.shankhpushpi-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.shankhpushpi-col2 p {
    font-size: 16px;
    text-align: center;
}

.shankhpushpi_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.shankhpushpi_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.shankhpushpi_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.shankhpushpi_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -14.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 11 Shatavari //////////////////////// */

.shatavari_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.shatavari_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.shatavari-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.shatavari_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.shatavari-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.shatavari_img1 img {
    height: 200px;
    margin-left: 20%;
}

.shatavari_img2 img {
    height: 200px;
    margin-left: 30%;
}

.shatavari_img3 img {
    height: 200px;
    margin-left: 18%;
}

.shatavari-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.shatavari-col2 p {
    font-size: 16px;
    text-align: center;
}

.shatavari_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.shatavari_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.shatavari_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.shatavari_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 12 Tulsi //////////////////////// */

.tulsi_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.tulsi_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.tulsi-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.tulsi_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.tulsi-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.tulsi_img1 img {
    height: 200px;
    margin-left: 20%;
}

.tulsi_img2 img {
    height: 200px;
    margin-left: 30%;
}

.tulsi_img3 img {
    height: 200px;
    margin-left: 18%;
}

.tulsi-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.tulsi-col2 p {
    font-size: 16px;
    text-align: center;
}

.tulsi_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.tulsi_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.tulsi_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.tulsi_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */

/* ///////////////////////// New Type Boxes 13 Turmeric //////////////////////// */

.turmeric_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.turmeric_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.turmeric-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.turmeric_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.turmeric-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.turmeric_img1 img {
    height: 200px;
    margin-left: 20%;
}

.turmeric_img2 img {
    height: 200px;
    margin-left: 30%;
}

.turmeric_img3 img {
    height: 200px;
    margin-left: 18%;
}

.turmeric-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.turmeric-col2 p {
    font-size: 16px;
    text-align: center;
}

.turmeric_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.turmeric_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.turmeric_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.turmeric_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 14 Safed Musli //////////////////////// */

.safed_musli_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.safed_musli_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.safed_musli-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.safed_musli_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.safed_musli-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.safed_musli_img1 img {
    height: 200px;
    margin-left: 20%;
}

.safed_musli_img2 img {
    height: 200px;
    margin-left: 30%;
}

.safed_musli_img3 img {
    height: 200px;
    margin-left: 18%;
}

.safed_musli-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.safed_musli-col2 p {
    font-size: 16px;
    text-align: center;
}

.safed_musli_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.safed_musli_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.safed_musli_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.safed_musli_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 15 Shilajit //////////////////////// */

.shilajit_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.shilajit_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.shilajit-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.shilajit_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.shilajit-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.shilajit_img1 img {
    height: 200px;
    margin-left: 20%;
}

.shilajit_img2 img {
    height: 200px;
    margin-left: 30%;
}

.shilajit_img3 img {
    height: 200px;
    margin-left: 18%;
}

.shilajit-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.shilajit-col2 p {
    font-size: 16px;
    text-align: center;
}

.shilajit_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.shilajit_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.shilajit_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.shilajit_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */


/* ///////////////////////// New Type Boxes 16 Punarnava and Gokshur //////////////////////// */

.punarnava_container2 {
    margin-top: -6%;
    min-height: 100vh;
}

.punarnava_containerBox {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
}

.punarnava-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: -3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.punarnava_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.punarnava-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.punarnava_img1 img {
    height: 200px;
    margin-left: 20%;
}

.punarnava_img2 img {
    height: 200px;
    margin-left: 30%;
}

.punarnava-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.punarnava-col2 p {
    font-size: 16px;
    text-align: center;
}

.punarnava_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.punarnava_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.punarnava_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.punarnava_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* 2 */

.gokshur-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: 3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.gokshur_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.gokshur-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.gokshur_img1 img {
    height: 200px;
    margin-left: 20%;
}

.gokshur_img2 img {
    height: 200px;
    margin-left: 30%;
}

.gokshur-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.gokshur-col2 p {
    font-size: 16px;
    text-align: center;
}

.gokshur_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.gokshur_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.gokshur_txt h1 {
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.gokshur_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* End */


/* ///////////////////////// New Type Boxes 17 Triphala //////////////////////// */

.triphala_container2 {
    margin-top: -6%;
    min-height: 100vh;
}

.triphala_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.triphala-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 2px var(--color-black);
    transition: all 0.5s ease;
}

.triphala_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.triphala-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.triphala_img1 img {
    height: 200px;
    margin-left: 20%;
}

.triphala_img2 img {
    height: 200px;
    margin-left: 30%;
}

.triphala_img3 img {
    height: 200px;
    margin-left: 18%;
}

.triphala_img4 img {
    height: 200px;
    margin-left: 20%;
}

.triphala-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.triphala-col2 p {
    font-size: 16px;
    text-align: center;
}

.triphala_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.triphala_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.triphala_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.triphala_txt h1::after {
    content: '';
    width: 220px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -18%;
}

/* End */


/* ///////////////////////// New Type Boxes 18 Guggul //////////////////////// */

.guggul_container2 {
    margin-top: -8%;
    min-height: 100vh;
}

.guggul_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.guggul-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.guggul_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.guggul-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.guggul_img1 img {
    height: 200px;
    margin-left: 20%;
}

.guggul_img2 img {
    height: 200px;
    margin-left: 30%;
}

.guggul_img3 img {
    height: 200px;
    margin-left: 18%;
}

.guggul-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.guggul-col2 p {
    font-size: 16px;
    text-align: center;
}

.guggul_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.guggul_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.guggul_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.guggul_txt h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -7.5%;
}

/* End */

/* ///////////////////////// New Type Boxes 19 Moringa and Giloy (Guduchi) //////////////////////// */

.moringa_container2 {
    margin-top: -6%;
    min-height: 100vh;
}

.moringa_containerBox {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
}

.moringa-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: -3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.moringa_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.moringa-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.moringa_img1 img {
    height: 200px;
    margin-left: 20%;
}

.moringa_img2 img {
    height: 200px;
    margin-left: 30%;
}

.moringa-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.moringa-col2 p {
    font-size: 16px;
    text-align: center;
}

.moringa_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.moringa_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.moringa_txt h1 {
    /* font-size: 20px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.moringa_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* 2 */

.giloy-col {
    width: 100%;
    height: 600px;
    padding: 30px;
    margin-left: 3%;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 0.5px var(--color-black);
    transition: all 0.5s ease;
}

.giloy_containerBox2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    margin-left: 1%;
}

.giloy-col2 {
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.1px var(--color-black);
    transition: all 0.5s ease;
}

.giloy_img1 img {
    height: 200px;
    margin-left: 20%;
}

.giloy_img2 img {
    height: 200px;
    margin-left: 30%;
}

.giloy-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.giloy-col2 p {
    font-size: 16px;
    text-align: center;
}

.giloy_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.giloy_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.giloy_txt h1 {
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.giloy_txt h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -15.8%;
}

/* End */

/* Footer Css */


.footer-info-text {
    margin: 16px 0 0px;
    color: white;
}

.footer-info-text p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: var(--color-green);
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: var(--color-green);
    border-left-color: var(--color-green);
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    /* margin: 1%; */
    padding: 75px 0 0;
    /* min-height: 80vh; */
    background-color: #151414;
    position: relative;
    z-index: 2;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 85px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: var(--color-green);
}

.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    border-radius: 10px;
    z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin: 20px;
    margin-left: 26%;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 9%;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.bxl-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.bxl-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.bxl-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.bxl-linkedin-square {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.bxl-instagram-alt {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
    padding-top: 15px;
    text-align: center;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
    margin-left: 18%;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
    color: var(--color-white);
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: var(--color-green);
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form .submit_btn[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid var(--color-green);
    background: var(--color-green);
    color: #fff;
}

.dk-footer-form .submit_btn:hover {
    cursor: pointer;
}

.img-fluid {
    width: 50%;
    margin-left: 25%;
}

/* ==========================
  
      Contact
  
  =============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: var(--color-green);
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 28px 0;
    /* margin-top: 55px; */
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: var(--color-green);
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.back-to-top {
    position: relative;
    z-index: 2;
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742;
}

/* End */