@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root {
    --color-primary: #73BA64;
    --color-secondary: #F4D771;
    --color-green: #399A1E;
    --color-white: #fff;
    --color-ofWhite: #f9f9f9;
    --color-black: #000;
    --color-black-1: #465669;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* Menu bar Css */

.sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-ofWhite);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.nav_logo {
    width: 110px;
    cursor: pointer;
}

.home_profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.home_profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.home_profile span {
    font-size: 13px;
    font-weight: 500;
}

.home_navbar {
    display: flex;
    column-gap: 0.5rem;
    position: relative;
}

.home_navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-black);
    padding: 0.5rem;
    text-decoration: none;
}

.home_navbar a:hover,
.herbal_active {
    background: var(--color-primary);
    border-radius: 5rem;
    color: var(--color-white);
    transition: background 0.5s;
}

.menu_icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.home_profile a {
    text-decoration: none;
}

/* dropdown menu style */

.home_navbar ul {
    list-style: none;
    display: flex;
}

.home_navbar ul li {
    font-size: 20px;
    color: var(--color-black);
    text-decoration: none;
    transition: all 0.3s;
    padding: 10px 15px;
    position: relative;
}

/* dropdown menu style */
.dropdown-menu {
    display: none;
}

.home_navbar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-primary);
}

.home_navbar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.home_navbar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

/*Menu End */



/*Aayurvedic Home Css  */

.aayu_home {
    min-height: 100vh;
}

.aayu_container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/Images2/Aayurvedic-Home/bg2-img.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.aayu_img1 img {
    width: 600px;
    position: absolute;
    bottom: 50px;
    margin-left: 6%;
}

.aayu_img2 img {
    height: 160px;
    margin-top: -205%;
}

.aayu_home_text {
    margin-left: 60%;
    margin-bottom: -75px;
}

.aayu_home_text h1 {
    font-size: 40px;
    margin-left: -45%;
    margin-top: 0%;
    font-weight: 900;
}

.aayu_home_text h2 {
    /* font-size: 40px; */
    margin-left: -45%;
    margin-top: 0%;
}

.aayu_home_text span {
    font-size: 40px;
    font-weight: 900;
    color: var(--color-green);
}


.aayu_home_text p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 14%;
    margin-left: -45%;
}

.btn1 {
    padding: 0.8rem 1.2rem;
    background: var(--color-primary);
    color: var(--color-black);
    font-weight: 500;
    margin-top: 14%;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 160px;
    margin-left: -46%;
}

.btn1 .bx {
    padding: 4px;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    font-size: 20px;
    margin: auto;
}

.btn1:hover {
    background: var(--color-secondary);
    transition: 0.1s ease;
}

/* End */


/*/////////////////////// Aayurvedic Table Formate /////////////////////////// */

.bp_container {
    min-height: 100vh;
    background: var(--color-white);
}

.text_center {
    text-align: center;
    margin: 40px;
}
.text_center i {
    font-size: 50px;
    margin: 10px;
    color: var(--color-green);
}

.common_h2 {
    color: var(--color-green);
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;
}

.common_h5 {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.aayu_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}

.feature-col {
    width: 100%;
    height: 1200px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 2px var(--color-black);
    transition: all 0.5s ease;
}

.aayu_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.feature-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.bp_img1 img {
    height: 200px;
    margin-left: 20%;
}

.bp_img2 img {
    height: 200px;
    margin-left: 30%;
}

.bp_img3 img {
    height: 200px;
    margin-left: 16%;
}

.bp_img4 img {
    height: 200px;
    margin-left: 13%;
}

.feature-col2 h4 {
    font-size: 20px;
    margin-left: 15%;
}

.feature-col2 p {
    font-size: 16px;
    text-align: center;
}

.aayu_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.aayu_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.heading_txt2 h1 {
    /* font-size: 24px; */
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.heading_txt2 h1::after {
    content: '';
    width: 200px;
    height: 3px;
    background: var(--color-green);
    position: absolute;
    margin-top: 4%;
    margin-left: -14.5%;
}

/* 2nd box */

.aayu_containerBox3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.feature-box-col1 {
    width: 110%;
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.feature-box-col2 {
    width: 110%;
    padding: 30px;
    margin-left: 43%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.feature-box-col3 {
    width: 75%;
    padding: 30px;
    margin-left: 43%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.feature-box-col4 {
    width: 75%;
    padding: 30px;
    margin-left: 26%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.img-responsive1 img {
    height: 200px;
    margin-left: 20%;
    margin-top: 15%;
}

.img-responsive2 img {
    height: 200px;
    margin-left: 30%;
    margin-top: 15%;
}

.img-responsive3 img {
    height: 200px;
    margin-left: 22%;
    margin-top: 4%;
}

.img-responsive4 img {
    height: 200px;
    margin-left: 20%;
}

.feature-box-col1 h4 {
    font-size: 20px;
    margin-left: 17%;
}

.feature-box-col2 h4 {
    font-size: 20px;
    margin-left: 20%;
}

.feature-box-col3 h4 {
    font-size: 20px;
    /* margin-left: 24%; */
    text-align: center;
}

.feature-box-col4 h4 {
    font-size: 20px;
    margin-left: 20%;
}

.feature-box-col1 p {
    font-size: 16px;
    text-align: center;
}

.feature-box-col2 p {
    font-size: 16px;
    text-align: center;
}

.feature-box-col3 p {
    font-size: 16px;
    text-align: center;
}

.feature-box-col4 p {
    font-size: 16px;
    text-align: center;
}

.aayu_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.aayu_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

/* End */



/* ///////////////////////// New Type Boxes 2 //////////////////////// */

.digetion_container {
    min-height: 100vh;
}

.digetion_containerBox {
    display: grid;
    grid-template-columns: auto;
    margin: 5%;
}
.side_leaf_img {
    margin: -72px;
}
.side_leaf_img img {
    height: 250px;
    margin-top: -5%;
    margin-left: -7%;
}

.digetion-col {
    width: 100%;
    height: 1100px;
    padding: 30px;
    background-color: var(--color-ofWhite);
    box-shadow: 0px 0px 0px 2px var(--color-black);
    transition: all 0.5s ease;
}

.digetion_containerBox2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5%;
    margin-left: 1%;
}

.digetion-col2 {
    /* width: 65%; */
    padding: 30px;
    margin-left: 17%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.digetion_img1 img {
    height: 200px;
    margin-left: 20%;
}

.digetion_img2 img {
    height: 200px;
    margin-left: 30%;
}

.digetion_img3 img {
    height: 200px;
    margin-left: 18%;
}

.digetion_img4 img {
    height: 200px;
    margin-left: 20%;
}

.digetion-col2 h4 {
    font-size: 20px;
    margin-left: 11%;
}

.digetion-col2 p {
    font-size: 16px;
    text-align: center;
}

.digetion_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.digetion_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.heading_txt2 {
    font-size: 20px;
    font-family: 'Cabin', 'SemiBold 600';
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

/* 2nd box */

.digetion_containerBox3 {
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 5%;
    margin-left: 1%;
}

.digetion-box-col1 {
    width: 75%;
    padding: 30px;
    margin-left: 45%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.digetion-box-col2 {
    width: 75%;
    padding: 30px;
    margin-left: 43%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}

.digetion-box-col3 {
    width: 50%;
    padding: 30px;
    margin-left: 30%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0.1px 0.1px 1px 0.4px var(--color-black);
    transition: all 0.5s ease;
}


.digetion2_img1 img {
    height: 200px;
    margin-left: 20%;
    margin-top: 15%;
}

.digetion2_img2 img {
    height: 200px;
    margin-left: 18%;
    margin-top: 12%;
}

.digetion2_img3 img {
    height: 200px;
    margin-left: 15%;
    margin-top: 4%;
}

.digetion-box-col1 h4 {
    font-size: 20px;
    margin-left: 17%;
}

.digetion-box-col2 h4 {
    font-size: 20px;
    margin-left: 20%;
}

.digetion-box-col3 h4 {
    font-size: 20px;
    /* margin-left: 24%; */
    text-align: center;
}


.digetion-box-col1 p {
    font-size: 16px;
    text-align: center;
}

.digetion-box-col2 p {
    font-size: 16px;
    text-align: center;
}

.digetion-box-col3 p {
    font-size: 16px;
    text-align: center;
}

.digetion_btn button {
    margin-left: 16%;
    width: 140px;
    height: 40px;
    background: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.digetion_btn button:hover {
    background: var(--color-white);
    color: var(--color-black);
}

/* End */

/* Counter Section start */

.counter_sec {
    height: 40vh;
    background: var(--color-primary);
    /* text-align: center; */
    transition: all 0.7s linear;
}

.counter_container {
    display: grid;
    grid-template-columns: auto auto ;
    text-align: center;
    margin-top: 10%;
}
.counter_img img {
    height: 550px;
    width: 600px;
    margin-top: -12%;
}
.main_txt_btn button {
    height: 42px;
    width: 160px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 2%;
    /* color: var(--color-white); */
    background-color: var(--color-primary);
}
.main_txt_btn button:hover {
    background-color: var(--color-white);
}

.counter_header {
    justify-content: center;
    align-items: center;
}

.counter_p {
    font-size: 10px;
}

.counter_num {
    font-size: 30px;
    margin: 8%;
}

.counter_container p {
    font-size: 20px;
    margin-top: -4%;
}

/* End */